body {
  background-color: hsl(226, 43%, 10%);
}

@font-face {
  font-family: "Rubik-Light";   /*Can be any text*/
  src: local("Rubik-Light"),
    url("./Fonts/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Medium";   /*Can be any text*/
  src: local("Rubik-Medium"),
    url("./Fonts/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Regular";   /*Can be any text*/
  src: local("Rubik-Regular"),
    url("./Fonts/Rubik-Regular.ttf") format("truetype");
}


#App{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

}

